@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {

  background-color: rgb(17, 17, 17);
  overflow: auto;
  font-family: 'Poppins', sans-serif;
}